*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --primary: #0084fd;
    --secondary:#9792e4;
    --card:#b5ddff;
    --footer:#333333;
}

ul{
    
    list-style: none;
}

li{
    display: inline;
}

img{
    display: block;
    max-width: 100%;
}

.debug{
    border:1px solid black;
}

/*************************
text utilities 
**************************/

h1{
    font-size: 2.5rem;
}

h2{
    font-size:1.75rem;
}

h3{
    font-size:1.2rem;
}

/* h4 is used only for icons  */
h4{
    font-size:5rem;
    color:var(--primary);
}

p{
    font-size:1.2rem;
    line-height: 2rem;
}

/*************************
button-appearance utilities 
**************************/

[class^="btn"]{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    text-decoration: none;
}

.btn{
    width:50%;
    color:white;
    padding:0.75rem;
    border-radius:2rem;
    background-color: var(--primary);
}

.btn_circle{
    font-size:1.5rem;
    height:50px;
    width:50px;
    border-radius:50%;
    background-color: var(--secondary);
}

/*************************
structure: container, column-12 grid and cards
**************************/

/* container, row */
.container{
    width:80%;
    margin:auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin:0;
    padding:4rem 0 4rem 0;
}

/* column */
[class^="col"]{
    padding:0.5rem;
    display: flex;
    flex-wrap: wrap;
}

.col-12{
    width:100%;
}

/* card */
.card{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    background-color: var(--card);
    min-height:250px;
    border-radius:1rem;
    padding:1.5rem;
    gap:1rem;

    div{
        display: flex;
        flex-flow: column wrap;
        gap:2rem;
    }
}

.no_bg{
    background-color: transparent;
}

.white_bg{
    background-color: white;
}

.secondary_bg{
    background-color: var(--secondary);
}

/* card color style */
.style0{
    h2{color:var(--primary)}
}

.style1{
    color:white;
    a{color:var(--secondary);
        background-color: white;}
}

.style2{
    color:black;
}

.style3{
    h1{color:var(--secondary);}
    h2{color:var(--secondary);}
    a{color:white;
    background-color: var(--secondary);}
}

/* card alignment style */

.align0{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.align1{
    display: flex;
    text-align: center;
}

.align2{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.align3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.align4{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

/*************************
header
**************************/

#site_header{
    width:100%;
    background-color: var(--primary);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#navigate{
    width:60%;
    padding:0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#nav_links{
    display: flex;
    flex-wrap: wrap;
    li{
        display: inline;
    };
}

/*************************
main
**************************/

main{
    margin-top: 1rem;
}

section:nth-child(even){
    background-color: var(--secondary);
}

/* section demo */
#phone{
    height:350px;
    width:350px;
    margin-bottom:-1.5rem;
}

/* section testimonial */
.testimonial_img{
    width:200px;
    height:200px;

    img{
        width:100%;
        height:100%;
        border-radius: 50%;
        object-fit: cover;
    }
}

/* section about us */
.btn_linkedin{
   max-width:70%;
   padding:0.75rem;
   border-radius:2rem;
}

/* section free  */
#free_text{
    font-size:6rem;
    padding:2rem;
    color:yellowgreen;
}

.btn_free{
    align-self: center;
    width:400px;
    height:4rem;
    padding:0.75rem;
    border-radius:3rem;
}

#free_links{
    a{
        color:white;
        background-color: transparent;
    }
    i{
        vertical-align: middle;
        font-size:0.25rem;
    }
}

/*************************
footer
**************************/

#site_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--footer);
    width:100%;
    min-height:200px;
    color:white;
}

/*********************************************
rule used is mobile first (max-width 767px)
media rules are used for:
- medium: tablet resolution (768px-991px);
- large: desktop resolution (min-width 992px);
**********************************************/

@media screen and (min-width:768px){
    .no_wrap{
        flex-wrap: nowrap;
    }
    .col-md-12{
        width:100%;
    }
    .col-md-8{
        width: calc((100%/12)*8);
    }
    .col-md-7{
        width: calc((100%/12)*7);
    }
    .col-md-6{
        width:calc((100%/12)*6);
    }
    .col-md-5{
        width: calc((100%/12)*5);
    }
    .col-md-4{
        width:calc((100%/12)*4);
    }
    .col-md-3{
        width:calc((100%/12)*3);
    }
}

@media screen and (min-width:992px){
    #navigate{
        max-width: 1200px;
    }
    .container{
        max-width: 1200px;
    }

    .col-lg-12{
        width:100%;
    }
    .col-lg-9{
        width:calc((100%/12)*9);
    }
    .col-lg-8{
        width: calc((100%/12)*8);
    }
    .col-lg-6{
        width:calc((100%/12)*6);
    }
    .col-lg-4{
        width:calc((100%/12)*4);
    }
    .col-lg-3{
        width:calc((100%/12)*3);
    }
}